.t-foot {
    padding: 10px;
    text-align: center;
    .t-nav {
        padding: 2px;
        width: 80px;
        height: 25px;
        border: 1px solid $top-color;
        border-radius: 15px;
        text-transform: capitalize;
    }
}