.t-head {
    $text-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @extend %head-color;

    button {
        border: 0;
        margin: 2px;
        cursor: pointer;
        background: none;
        @extend %head-color;
    }

    .t-nav {
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        flex-grow: 2;

        .t-title {
            font-size: 14px;
        }
    }

    .t-prev,
    .t-next {
        &::before {
            content: " ";
            display: inline-block;
            border: solid $text-color;
            border-width: 0 2px 2px 0;
            width: 10px;
            height: 10px;
            margin: 10px;
            @extend %head-color;
        }
    }

    .t-prev {
        text-align: left;

        &::before {
            transform: rotate(135deg);
        }
    }

    .t-next {
        text-align: right;

        &::before {
            transform: rotate(-45deg);
        }
    }
}