&.t-picker {
    position: absolute;
    display: table;
    width: 280px;
    z-index: 1;

    &::before {
        content: none;
    }

    .t-head,
    .t-body {
        display: table-row;
    }

    .t-days,
    .t-time,
    .t-weeks,
    .t-years,
    .t-months,
    .t-decades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .t-item {
            padding: 10px;
            margin: 10px;
            text-align: center;
            border-radius: 3px;
        }
    }

    @import "./templates/head-template.scss";
    @import "./templates/time-template.scss";
    @import "./templates/days-template.scss";
    @import "./templates/weeks-template.scss";
    @import "./templates/months-template.scss";
    @import "./templates/years-template.scss";
    @import "./templates/decades-template.scss";
    @import "./templates/foot-template.scss";
}