&.t-picker {
    position: absolute;
    z-index: 1;
    max-width: 280px;

    &::before {
        content: none;
    }

    .t-today {
        color: white;
        background: green;
    }

    .t-head,
    .t-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .t-days,
    .t-time,
    .t-weeks,
    .t-years,
    .t-months,
    .t-decades,
        {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        border: 1px solid white;

        .t-item {
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                color: white;
                background: blue;
            }
        }
    }

    @import "./templates/head-template.scss";
    @import "./templates/time-template.scss";
    @import "./templates/days-template.scss";
    @import "./templates/weeks-template.scss";
    @import "./templates/months-template.scss";
    @import "./templates/years-template.scss";
    @import "./templates/decades-template.scss";
    @import "./templates/foot-template.scss";
}