.t-days {
    flex-direction: column;

    .t-head {
        display: table-row;
    }

    .t-body {
        display: table-row;
        border-top: 1px solid white;

        .t-item {
            &.t-day {
                @include item(true, true);
            }

            &.t-week {
                color: gray;
            }
        }
    }

    .t-week {
        display: table-row;
    }

    .t-item {
        display: table-cell;
        width: 12%;
    }
}