.t-days {
    flex-direction: column;

    .t-head {
        display: table-row;
    }

    .t-body {
        display: table-row;

        .t-item {
            @extend %item;
        }
    }

    .t-week {
        display: table-row;
    }

    .t-item {
        display: table-cell;
        width: 12%;

        // &:hover {
        //     @extend %hover;
        // }
    }
}