.t-weeks {
    .t-body {
        .t-week {
            @include item(true, true);
            &.t-item {
                font-weight: bold;
            }
            &.active,
            &:hover {
                .t-week {
                    position: relative;
                    background: $sub-color;
                    color: $top-color;
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 14px;
                        right: -5px;
                        width: 10px;
                        height: 10px;
                        transform: rotate(135deg);
                        @extend %head-color;
                    }
                }
            }
            .t-item {
                border-radius: 0;
            }
        }
    }
}