%hover {
    color: white !important;
    opacity: 0.2;
    background: teal;
}

%active {
    color: white;
    background-color: teal;
}

%today {
    border: 1px solid teal;
    border-radius: 25px;
    background: none;
}

@mixin item($active, $hover) {
    @if ($active) {
        &.active {
            @extend %active;
        }
    }

    @if ($hover) {
        cursor: pointer;

        &:hover {
            @extend %hover;
        }
    }
}

%head-color {
    color: white;
    background: teal;
}

@import "./templates/picker-template.scss";

.t-jsdatepicker {
    position: relative;


    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-image: url(./res/picker.svg);
        background-size: cover;
    }

    .t-hidden {
        display: none !important;
    }

    .t-input {
        padding-right: 25px;
    }
}